body, html {
  height: 100%; }

.calculator-wrapper {
  width: 400px;
  height: 400px;
  margin: 50px auto; }

ul {
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

.buttons li {
  list-style: none;
  float: left;
  padding-top: 27px;
  font-size: 1.3em;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  text-align: center;
  margin: 10px;
  background-color: #dedede;
  border-radius: 5px; }
  .buttons li:hover {
    background-color: #cdcdcd; }

.numbers {
  width: 300px;
  float: left; }

.operators {
  width: 100px;
  float: left; }
