<div class="calculator-wrapper">
  <div class="display">
    <div class="numDisplay">{{ queryStr }}</div>
  </div>
  <div class="buttons">
    <div class="numbers clearfix">
      <ul>
        <li class="one-span clearfix" ng-click="addDigit(1)">1</li>
        <li class="one-span clearfix" ng-click="addDigit(2)">2</li>
        <li class="one-span clearfix" ng-click="addDigit(3)">3</li>
        <li class="one-span clearfix" ng-click="addDigit(4)">4</li>
        <li class="one-span clearfix" ng-click="addDigit(5)">5</li>
        <li class="one-span clearfix" ng-click="addDigit(6)">6</li>
        <li class="one-span clearfix" ng-click="addDigit(7)">7</li>
        <li class="one-span clearfix" ng-click="addDigit(8)">8</li>
        <li class="one-span clearfix" ng-click="addDigit(9)">9</li>
        <li class="one-span clearfix" ng-click="addDigit(0)">0</li>
        <li class="two-span clearfix" ng-click="calculate()">=</li>
      </ul>
    </div>
    <div class="operators clearfix">
      <ul>
        <li class="one-span clearfix" ng-click="add()">+</li>
        <li class="one-span clearfix" ng-click="subtract()">-</li>
        <li class="one-span clearfix" ng-click="divide()">/</li>
        <li class="one-span clearfix" ng-click="multiply()">x</li>
      </ul>
    </div>
  </div>
<div>